.home-page {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 60px; 
  justify-content: space-between;  
  align-items: start;
  width: 100%;
  min-height: 100vh;
  padding: 0px 20px;
  box-sizing: border-box;
}

@media (max-width: 1300px) {
  .home-page {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
  }
  
  .project-list-container,
  .task-container,
  .notification-container {
    grid-column: 1;
    width: 100%;
    justify-content: center; 
  }
}