:root {
  --bg-app: #f4f6f9;
  --bg-card: #ffffff;
  
  --text-main: #213547;
  --text-muted: #6c757d;
  
  --primary: #9370db;
  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  
  /* Aplikujemy nasze globalne tło i kolor tekstu */
  background-color: var(--bg-app);
  color: var(--text-main);
}